{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Arif! Currently in my final year at Universitas Negeri 
            Malang where I am studying Electrical Engineering. I've been learning python for about 3 Months
            and creating 3 different projects for my programming journey!
        </p>
        <p>
            Programming is quite rewarding. As i learn, things start to click and make sense. Hopefully
            i can make this thing into my fulltime job.
        </p>
        <p>
            I can work with python and its framework (flask), for database, i have used RDBMS or NOSQL 
            such as MySql, MongoDB.
        </p>
    </main>
    </main>
{% endblock %}