{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <img class="main__profile" src="{{url_for('static', filename='img/arifwibawa.png')}}" alt="Arif Wibawa.png">
        <p>
            Hello, I'm a fresh graduated from Universitas Negeri Malang with D3 Electrical Engineering major. Mostly self-taught as a developer. 
            Learned a lot from just reading programming books, the internet, and creating projects. My focus over the years has fundamentally changed to using programming as a tool to create. 
            I'm highly interested in startups, complex technological problems, education, finance, and investing. I also love sparing my time to travel, reading a book and craving other skills like sharpening my english and spanish or even looking out for another recent technology that could help me out at work.
        </p>
        <p>
            Programming is quite rewarding. As i learn, things start to click and make sense. Hopefully
            i can make this thing into my fulltime job.
        </p>
        <p>
            I can work with HTML, CSS, Javascript, python and its framework (flask), for database, i have used RDBMS or NOSQL 
            such as MySql, MongoDB.
        </p>
    </main>
    </main>
{% endblock %}
