{% extends "base.html" %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:arifwb.work@gmail.com" target="_blank" rel="noopener noreferrer">
                        arifwb.work [at] gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/WibawaArif" target="_blank" rel="noopener noreferrer">
                        @wibawaarif
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Twitter:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://twitter.com/ArifStudyPython" target="_blank" rel="noopener noreferrer">
                        @arifstudypython
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/arifwibawaa/" target="_blank" rel="noopener noreferrer">
                        @ArifWibawa
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}